{% extends "layout_mini_daniel.html" %}
{% block title %}CDP元件展覽網站{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/style/morris/0.5.1/morris.css" />

<style type="text/css">
  /*修複sparkline tooltips樣式跑版*/
  .jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  .el-table .cell {
        white-space: pre-line;
    }

  .el-range-separator {
    /* 修正”至”樣式錯誤 */
    width: 27px !important;
  }
</style>
{% endblock %}

{% block content %}
<!-- 頁面標題-右側-無功能 start -->
<el-row type="flex" justify="space-between" :gutter="25" class="mb-4">
    <el-col :span="24">
    <div class="grid-content">
        <h1>v-echarts-rfm-lmh.js 使用方式</h1>  
    </div>
    </el-col>
</el-row>
<!-- 頁面標題-右側-無功能 end -->
<!-- 1欄 start -->
<el-row :gutter="25" class="mb-4">
    <el-col :span="24">
        <el-table
            :data="tableData"
            border
            :show-header=false
            style="width: 100%">
            <el-table-column
                prop="name"
                width="180">
            </el-table-column>
            
            <el-table-column 
                prop="value">
                <!-- <template slot-scope="scope">

                </template> -->
            </el-table-column>

        </el-table>
    </el-col>
</el-row>




<el-row :gutter="25" class="mb-4">
    <el-col :span="24">
        <div class="grid-content">
        <el-card shadow="never" class="box-card wrap-card" >
            <h2 class="card__title">Source Code</h2>
            <h3><pre>
                <code class="html">
                &lt;v-echarts-rfm-lmh
                    id="rfmchart"
                    :data='datalist'
                    :ytext="[ [60,200],[20,140],[3000,10000] ]"&gt;
                &lt;/v-echarts-rfm-lmh&gt;
                </code>
            </pre></h3>
        </el-card>
        </div>
    </el-col>

</el-row>

 

<el-row :gutter="25" class="mb-4">
    <el-col :span="24">
        <div class="grid-content">
            <el-card shadow="never" class="box-card wrap-card" >
            <h2 class="card__title">Example</h2>
            <v-echarts-rfm-lmh
                id="rfmchart"
                :data="datalist"
                :ytext="[[60,200],[20,140],[3000,10000]]">
            </v-echarts-rfm-lmh>
            </el-card>
        </div>
    </el-col>
</el-row>

<!-- 1欄 end -->

{% endblock %} 

{% block js %}
<script src="/static/style/echarts/4.8.0/echarts.min.js"></script>
<script src="/static/style/lodash/4.16.0/lodash.js"></script>
<script src="/static/js/v-echarts-rfm-lmh.js"></script>


<script>

    var obj = new Vue({
        el: '#app',
        mixins: [layoutVue],
        data:  {
            breadpath: [{key: '首頁', path: '/'},{key: '標題', path: ''}],
            datalist: {"rl":28653,"rm":142495,"rh":235679,"fl":334191,"fm":70355,"fh":2281,"ml":221935,"mm":128669,"mh":56223},
            tableData:[{
                name: '描述',
                value: 'RFM人數分布圖'
            },{
                name: '維度量值',
                value: '維度1個，量值1個；dt維度是分顏色，量值決定大小'
            },{
                name: 'html',
                value: 'id:必填，元件id，要有唯一性'
            },{
                name: '屬性',
                value: `data : [{
                    "rfm":"M",         設定RFM類型
                    "rank":6,           設定級距
                    "cnt":1767,         級距內佔有數
                    "label1":"9424",    級距內最小值
                    "label2":"91332",   級距內最小值
                    "unit":"元"         級距單位
                    }],
                    ex : [{"rfm":"F","rank":6,"cnt":19,"label1":"83","label2":"365","unit":"次"},{"rfm":"R","rank":6,"cnt":66031,"label1":"0","label2":"5","unit":"天"}],..............]`
            },{
                name: '參考',
                value: 'https://echarts.apache.org/examples/zh/editor.html?c=pie-legend'
            }],
        },
    });

    
</script>


{% endblock %}



<!-- 
描述:
    RFM-自訂圖
html:
    id:必填，元件id，要有唯一性
屬性:
    data : {"rl":28653,"rm":142495,"rh":235679,"fl":334191,"fm":70355,"fh":2281,"ml":221935,"mm":128669,"mh":56223}
    ytext : 須為object， ex:[ [60,200],[20,140],[3000,10000] ]
    [    R[0~a天，a~b天]    F[0~a次，a~b次]    M[0~a元，a~b元]    ]
參考:
    https://echarts.apache.org/examples/zh/editor.html?c=bar-y-category -->
