{% extends "layout_mini_daniel.html" %}
{% block title %}標題 | 首頁 - EagleEye CDP 顧客數據雲{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/style/morris/0.5.1/morris.css" />

<style type="text/css">
  /*修複sparkline tooltips樣式跑版*/
  .jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  .el-range-separator {
    /* 修正”至”樣式錯誤 */
    width: 27px !important;
  }
</style>

{% endblock %}

{% block content %}
<!-- 頁面標題-右側-無功能 start -->
<el-row type="flex" justify="space-between" :gutter="25" class="mb-4">
    <el-col :span="24">
    <div class="grid-content">
        <h1>v-echarts-barstack.js 使用方式</h1>  
    </div>
    </el-col>
</el-row>
<!-- 頁面標題-右側-無功能 end -->
<!-- 1欄 start -->

<el-row :gutter="25" class="mb-4">
  <el-col :span="24">
        <div class="grid-content">
            <el-card shadow="never" class="box-card wrap-card"  >
<pre>
<h3><font color="#4c769a" font-size="13px">
描述:
    橫向顯示的柱狀圖
維度量值:
    維度1個，量值n個；維度是y軸，量值分顏色
html:
    id:必填，元件id，要有唯一性
屬性:
    data : [{y軸維度:'abc', 量值1:44 , 量值2:44 , 量值3:44},....]
參考:
    https://echarts.apache.org/examples/zh/editor.html?c=bar-y-category
</font></h3>                
</pre>
            </el-card>
        </div>
    </el-col>
</el-row>


<el-row :gutter="25" class="mb-4">
    <el-col :span="24">
        <div class="grid-content">
        <el-card shadow="never" class="box-card wrap-card" >
            <h2 class="card__title">Source Code</h2>
            <h3><pre>
                <code class="html">
                &lt;v-echarts-barstack   
                    id="bs2"
                    :data="datalist" &gt; 
                &lt;/v-echarts-barstack  &gt;
            </code>
            </pre></h3>
        </el-card>
        </div>

    </el-col>
</el-row>

<el-row :gutter="25" class="mb-4">
    <el-col :span="24">
        <div class="grid-content">
        <el-card shadow="never" class="box-card wrap-card" >
            <h2 class="card__title">Example</h2>
            <v-echarts-barstack 
                id="bs2" 
                :data="datalist">
            </v-echarts-barstack>
        </el-card>
        </div>
    </el-col>
</el-row>
    


<!-- 1欄 end -->

{% endblock %} 

{% block js %}
<script src="/static/js/v-echarts-barstack.js"></script>
<script src="/static/style/echarts/4.8.0/echarts.min.js"></script>
<script src="/static/style/lodash/4.16.0/lodash.js"></script>
<script>
    var obj = new Vue({
        el: '#app',
        mixins: [layoutVue],
        data:  {
            breadpath: [{key: '首頁', path: '/'},{key: '標題', path: ''}],
            datalist: [{"label":"-89755~39153元","人數":747080},{"label":"39153~80041元","人數":92028},{"label":"80041~129555元","人數":45352},{"label":"129555~204129元","人數":26596},{"label":"204129~362112元","人數":15998},{"label":"362112~146874000元","人數":7701}],
        },
    });




</script>


{% endblock %}


