{% extends "layout_mini_daniel.html" %}
{% block title %}標題 | 首頁 - EagleEye CDP 顧客數據雲{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/style/morris/0.5.1/morris.css" />

<style type="text/css">
  /*修複sparkline tooltips樣式跑版*/
    .jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    }

    .el-range-separator {
    /* 修正”至”樣式錯誤 */
    width: 27px !important;
    }
</style>

{% endblock %}

{% block content %}
<!-- 頁面標題-右側-無功能 start -->
<el-row type="flex" justify="space-between" :gutter="25" class="mb-4">
    <el-col :span="24">
    <div class="grid-content">
        <h1>v-echarts-mixlinebar-dt.js 使用方式</h1>  
    </div>
    </el-col>
</el-row>
<!-- 頁面標題-右側-無功能 end -->
<!-- 1欄 start -->
<el-row :gutter="25" class="mb-4">
    <el-col :span="24">
        <el-table
            :data="tableData"
            border
            :show-header=false
            style="width: 100%">
            <el-table-column
                prop="name"
                width="180">
            </el-table-column>
            
            <el-table-column
                prop="value">
            </el-table-column>

        </el-table>
    </el-col>
</el-row>

<el-row :gutter="25" class="mb-4">
    <el-col :span="24">
        <div class="grid-content">
        <el-card shadow="never" class="box-card wrap-card" >
            <h2 class="card__title">Source Code</h2>
            <h3><pre>
                <code class="html">
                &lt;v-echarts-mixlinebar-dt   
                    id="plot2"
                    class="mb-3"
                    :grid_bottom='25'
                    dt_interval='day'
                    :data="datalist"
                    :meskeys="['銷售額', '交易數']"
                    :y_label_format="(val, key) => {
                        if (key=='銷售額') return '$' + val
                        else return val
                    }"&gt;
                &lt;/v-echarts-mixlinebar-dt  &gt; 
            </code>
            </pre></h3>
        </el-card>
        </div>
    </el-col>

</el-row>


<el-row :gutter="25" class="mb-4">
    <el-col :span="24">
        <div class="grid-content" >
        <el-card shadow="never" class="box-card wrap-card" >
            <h2 class="card__title">Example</h2>
            <v-echarts-mixlinebar-dt
                id="plot2"
                class="mb-3" 
                :grid_bottom='25'
                dt_interval="day"
                :data="datalist"
                :plotheight="480"
                :meskeys="['銷售額', '交易數']"
                :y_label_format="(val, key) => {
                    if (key=='銷售額') return '$' + val
                    else return val
                }">
            </v-echarts-mixlinebar-dt>
        </el-card>
    </div>
</el-col>
</el-row>


<!-- 1欄 end -->

{% endblock %} 

{% block js %}
<script src="/static/style/echarts/4.8.0/echarts.min.js"></script>
<script src="/static/style/lodash/4.16.0/lodash.js"></script>
<script src="/static/js/v-echarts-mixlinebar-dt.js"></script>



<script>

    var obj = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        mixins: [layoutVue],
        data:  {
            breadpath: [{key: '首頁', path: '/'},{key: '標題', path: ''}],
            datalist: [{"dt":"2020-10-06","dt_interval":"day","銷售額":6593161,"交易數":66822},{"dt":"2020-10-07","dt_interval":"day","銷售額":5655250,"交易數":57442},{"dt":"2020-10-08","dt_interval":"day","銷售額":6211712,"交易數":58200},{"dt":"2020-10-09","dt_interval":"day","銷售額":6416311,"交易數":57733},{"dt":"2020-10-10","dt_interval":"day","銷售額":6366724,"交易數":58239},{"dt":"2020-10-11","dt_interval":"day","銷售額":6739361,"交易數":60846},{"dt":"2020-10-12","dt_interval":"day","銷售額":7888857,"交易數":74291}],

            tableData:[{
                name: '描述',
                value: '長條圖+折線圖(單)'
            },{
                name: '維度量值',
                value: 'dt,  data裏面一定要有dt, dt格式一定"yyyy-mm-dd"'
            },{
                name: 'html',
                value: 'id:必填，元件id，要有唯一性'
            },{
                name: '屬性',
                value: `dt_interval : x軸顯示的時間，必須為以下字串:\0\0
                        year\0:\0代表只顯示年份, ex 2017\n
                        month\0:\0代表只顯示月份, ex 一月\0\0
                        day\0:\0代表只顯示日期, ex 2017-1-1`,
            },{
                value: `data :[ {dt:'yyyy-mm-dd', 量值１:22, 量值2:44 },....], 注意，dt為保留字，限制為橫軸的鍵名，但方便編程，其他的都是量值`
            },{
                value: `meskeys_type :傳入陣列["bar", "bar", "line"]，代表第一、二個量值是用bar, 第三用line這是預設值，可以改`
            },{
                name: '參考',
                value: 'https://echarts.apache.org/examples/zh/editor.html?c=mix-line-bar'
            }],
        
        },
        


    });

</script>


{% endblock %}



<!-- 描述:
    長條圖+折線圖(單)
限制:
    data裏面一定要有dt, dt格式一定'yyyy-mm-dd'

屬性:
    dt_interval : x軸顯示的時間，必須為以下字串:
        year :代表只顯示年份, ex 2017
        month :代表只顯示月份, ex 一月
        day:　代表只顯示日期, ex 2017-1-1
    data :
        data :[ {dt:'yyyy-mm-dd', 量值１:22, 量值2:44 },....], 注意，dt為保留字，限制為橫軸的鍵名，但方便編程，其他的都是量值
        meskeys_type :傳入陣列["bar", "bar", "line"]，代表第一、二個量值是用bar, 第三用line這是預設值，可以改
參考:
    https://echarts.apache.org/examples/zh/editor.html?c=mix-line-bar -->