{% extends "layout_mini_daniel.html" %}
{% block title %}標題 | 首頁 - EagleEye CDP 顧客數據雲{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/style/morris/0.5.1/morris.css" />

<style type="text/css">
  /*修複sparkline tooltips樣式跑版*/
  .jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  .el-table .cell {
        white-space: pre-line;
    }

  .el-range-separator {
    /* 修正”至”樣式錯誤 */
    width: 27px !important;
  }
</style>

{% endblock %}

{% block content %}
<!-- 頁面標題-右側-無功能 start -->
<el-row type="flex" justify="space-between" :gutter="25" class="mb-4">
    <el-col :span="24">
    <div class="grid-content">
        <h1>v-echarts-barstack-dt.js 使用方式</h1>  
    </div>
    </el-col>
</el-row>
<!-- 頁面標題-右側-無功能 end -->
<!-- 1欄 start -->
<el-row :gutter="25" class="mb-4">
    <el-col :span="24">
        <el-table
            :data="tableData"
            border
            :show-header=false
            style="width: 100%">
                <el-table-column
                prop="name"
                width="180">
                </el-table-column>
                <el-table-column
                prop="value"
                >
                </el-table-column>
        </el-table>
    </el-col>
</el-row>



<el-row :gutter="25" class="mb-4">
    <el-col :span="24">
        <div class="grid-content">
        <el-card shadow="never" class="box-card wrap-card" >
            <h2 class="card__title">Source Code</h2>
            <h3><pre>
                <code class="html">
                &lt;v-echarts-barstack-dt
                    id="bsrebuyer"
                    class="mb-2"
                    :data="datalist" 
                    :meskeys=" ['僅購買1次', '回購2次', '回購3次', '回購4次', '回購5次', '回購6次', '回購7次', '回購8次']"&gt; 
                &lt;/v-echarts-barstack-dt&gt;
            </code>
            </pre></h3>
        </el-card>
        </div>
    </el-col>
</el-row>

<el-row :gutter="25" class="mb-4">
    <el-col :span="24">
        <div class="grid-content">
            <el-card shadow="never" class="box-card wrap-card" >
            <h2 class="card__title">Example</h2>
                <v-echarts-barstack-dt 
                    id="bsrebuyer"
                    class="mb-2"
                    :data="datalist" 
                    :meskeys=" ['僅購買1次', '回購2次', '回購3次', '回購4次', '回購5次', '回購6次', '回購7次', '回購8次']" >
                </v-echarts-barstack-dt>
            </el-card>
        </div>
    </el-col>
</el-row>
    


<!-- 1欄 end -->

{% endblock %} 

{% block js %}
<script src="/static/js/v-echarts-barstack-dt.js"></script>
<script src="/static/style/echarts/4.8.0/echarts.min.js"></script>
<script src="/static/style/lodash/4.16.0/lodash.js"></script>
<script>
    var obj = new Vue({
        el: '#app',
        mixins: [layoutVue],
        data:  {
            breadpath: [{key: '首頁', path: '/'},{key: '標題', path: ''}],
            datalist: [{"dt":"2020-10-07","僅購買1次":89.03,"回購2次":8.39,"回購3次":2.58},{"dt":"2020-10-06","僅購買1次":92.19,"回購2次":7.03,"回購3次":0.78},{"dt":"2020-10-05","僅購買1次":90.22,"回購2次":9.78},{"dt":"2020-10-04","僅購買1次":89.26,"回購3次":0.67,"回購2次":9.4,"回購4次":0.67},{"dt":"2020-10-03","僅購買1次":85.59,"回購3次":3.39,"回購2次":10.17,"回購4次":0.85},{"dt":"2020-10-02","僅購買1次":83.33,"回購2次":12.04,"回購4次":0.93,"回購3次":3.7},{"dt":"2020-10-01","僅購買1次":85.56,"回購2次":10.16,"回購6次":0.53,"回購3次":2.14,"回購4次":1.6}],
            tableData:[{
                name: '描述',
                value: '橫向顯示的堆疊圖'
            },{
                name: '維度量值',
                value: 'dt維度1個，量值n個；dt維度是y軸，量值分顏色'
            },{
                name: 'html',
                value: 'id:必填，元件id，要有唯一性'
            },{
                name: '屬性',
                value: `data : [{y軸維度:"abc", 量值1:44 , 量值2:44 , 量值3:44},....]
                        ylabeltype : year, month, week, day
                        meskeys : 陣列，可以不設，如果指定量值鍵，會決定量值出現在bar上的順序，由左到右`

            },{
                name: '參考',
                value: 'https://echarts.apache.org/examples/zh/editor.html?c=bar-y-category-stack'
            },
        ]},
    });




</script>


{% endblock %}


