{% extends "layout_mini_daniel.html" %}
{% block title %}CDP元件展覽網站{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/style/morris/0.5.1/morris.css" />

<style type="text/css">
  /*修複sparkline tooltips樣式跑版*/
  .jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  .el-table .cell {
        white-space: pre-line;
    }

  .el-range-separator {
    /* 修正”至”樣式錯誤 */
    width: 27px !important;
  }
</style>

{% endblock %}

{% block content %}
<!-- 頁面標題-右側-無功能 start -->
<el-row type="flex" justify="space-between" :gutter="25" class="mb-4">
    <el-col :span="24">
    <div class="grid-content">
        <h1>v-echarts-large-trend.js 使用方式</h1>  
    </div>
    </el-col>
</el-row>
<!-- 頁面標題-右側-無功能 end -->
<!-- 1欄 start -->
<el-row :gutter="25" class="mb-4">
    <el-col :span="24">
        <el-table
            :data="tableData"
            border
            :show-header=false
            style="width: 100%">
                <el-table-column
                prop="name"
                width="180">
                </el-table-column>
                <el-table-column
                prop="value"
                >
                </el-table-column>
        </el-table>
    </el-col>
</el-row>



<el-row :gutter="25" class="mb-4">
    <el-col :span="24">
        <div class="grid-content">
        <el-card shadow="never" class="box-card wrap-card" >
            <h2 class="card__title">Source Code</h2>
            <h3><pre>
                <code class="html">
                &lt;v-echarts-large-trend   
                    id="plot2"
                    :data="datalist"&gt; 
                &lt;/v-echarts-large-trend  &gt;
            </code>
            </pre></h3>
        </el-card>
        </div>
    </el-col>
</el-row>

<el-row :gutter="25" class="mb-4">
    <el-col :span="24">
        <div class="grid-content">
            <el-card shadow="never" class="box-card wrap-card" >
            <h2 class="card__title">Example</h2>
            <v-echarts-large-trend 
                id="plot2" 
                :data="datalist">
            </v-echarts-large-trend>
            </el-card>
        </div>
    </el-col>
</el-row>


    
<!-- 1欄 end -->

{% endblock %} 

{% block js %}
<script src="/static/style/echarts/4.8.0/echarts.min.js"></script>
<script src="/static/style/lodash/4.16.0/lodash.js"></script>
<script src="/static/js/v-echarts-large-trend.js"></script>



<script>

    var obj = new Vue({
        el: '#app',
        mixins: [layoutVue],
        data:  {
            breadpath: [{key: '首頁', path: '/'},{key: '標題', path: ''}],
            datalist: [{"dt":"2020-10-05","dt_interval":"day","總銷售額":6593161,"交易數":66822},{"dt":"2020-10-06","dt_interval":"day","總銷售額":5655250,"交易數":57442},{"dt":"2020-10-07","dt_interval":"day","總銷售額":6183024,"交易數":58191},{"dt":"2020-10-08","dt_interval":"day","總銷售額":6163999,"交易數":57736},{"dt":"2020-10-09","dt_interval":"day","總銷售額":6366724,"交易數":58242},{"dt":"2020-10-10","dt_interval":"day","總銷售額":6739361,"交易數":60846},{"dt":"2020-10-11","dt_interval":"day","總銷售額":7888857,"交易數":74291}],
            tableData:[{
                name: '描述',
                value: '趨勢圖'
            },{
                name: '維度量值',
                value: 'dt、總銷售額'
            },{
                name: 'html',
                value: 'id:必填，元件id，要有唯一性'
            },{
                name: '屬性',
                value: 'data : [{ dt:"abc", 總銷售額:44 , x:3333},....]'
            },{
                name: '參考',
                value: 'https://echarts.apache.org/examples/zh/editor.html?c=wind-barb'
            },
        ]},
    });

</script>


{% endblock %}



