{% extends "layout_mini_daniel.html" %}
{% block title %}標題 | 首頁 - EagleEye CDP 顧客數據雲{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/style/morris/0.5.1/morris.css" />

<style type="text/css">
  /*修複sparkline tooltips樣式跑版*/
  .jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  .el-table .cell {
        white-space: pre-line;
    }

  .el-range-separator {
    /* 修正”至”樣式錯誤 */
    width: 27px !important;
  }
</style>

{% endblock %}

{% block content %}
<!-- 頁面標題-右側-無功能 start -->
<el-row type="flex" justify="space-between" :gutter="25" class="mb-4">
    <el-col :span="24">
    <div class="grid-content">
        <h1>v-echarts-mixlinebar-compare-dt.js 使用方式</h1>  
    </div>
    </el-col>
</el-row>
<!-- 頁面標題-右側-無功能 end -->
<!-- 1欄 start -->
<el-row :gutter="25" class="mb-4">
    <el-col :span="24">
        <el-table
            :data="tableData"
            border
            :show-header=false
            style="width: 100%">
                <el-table-column
                prop="name"
                width="180">
                </el-table-column>
                <el-table-column
                prop="value"
                >
                </el-table-column>
        </el-table>
    </el-col>
</el-row>


<el-row :gutter="25" class="mb-4">
    <el-col :span="24">
        <div class="grid-content">
        <el-card shadow="never" class="box-card wrap-card" >
            <h2 class="card__title">Source Code</h2>
            <h3><pre>
                <code class="html">
                &lt;v-echarts-mixlinebar-compare-dt
                    id="cahrt"
                    :data1="datalist1"
                    :data2="datalist2"
                    meskeys="銷售額"&gt;  
                &lt;/v-echarts-mixlinebar-compare-dt&gt; 
            </code>
            </pre></h3>
        </el-card>
        </div>
    </el-col>
</el-row>


<el-row :gutter="25" class="mb-4">
    <el-col :span="24">
        <div class="grid-content">
        <el-card shadow="never" class="box-card wrap-card" >
            <h2 class="card__title">Example</h2>
            <v-echarts-mixlinebar-compare-dt 
            id="cahrt" 
            :plotheight="650"
            :data1="datalist1"
            :data2="datalist2" 
            meskeys="銷售額">
            </v-echarts-mixlinebar-compare-dt>
        </el-card>
    </div>
</el-col>
</el-row>

    
<!-- 1欄 end -->

{% endblock %} 

{% block js %}
<script src="/static/style/echarts/4.8.0/echarts.min.js"></script>
<script src="/static/style/lodash/4.16.0/lodash.js"></script>
<script src="/static/js/v-echarts-mixlinebar-compare-dt.js"></script>



<script>

    var obj = new Vue({
        el: '#app',
        mixins: [layoutVue],
        data:  {
            breadpath: [{key: '首頁', path: '/'},{key: '標題', path: ''}],
            datalist1: [{"dt":"2020-09-29","會員數":39292,"交易數":11,"有消費的會員數":11,"銷售額":31246,"客單價":2505.27,"客單量":1.91},{"dt":"2020-09-30","會員數":39342,"交易數":15,"有消費的會員數":15,"銷售額":42778,"客單價":4477.07,"客單量":2.27},{"dt":"2020-10-01","會員數":39367,"交易數":9,"有消費的會員數":9,"銷售額":35198,"客單價":3910.89,"客單量":2.89},{"dt":"2020-10-02","會員數":39449,"交易數":4,"有消費的會員數":4,"銷售額":11025,"客單價":2756.25,"客單量":1.5},{"dt":"2020-10-03","會員數":39540,"交易數":7,"有消費的會員數":7,"銷售額":44388,"客單價":3565.43,"客單量":1.86},{"dt":"2020-10-04","會員數":39601,"交易數":4,"有消費的會員數":4,"銷售額":8888,"客單價":4494.75,"客單量":2.25},{"dt":"2020-10-05","會員數":39601,"交易數":4,"有消費的會員數":4,"銷售額":20000,"客單價":4494.75,"客單量":2.25}],
            datalist2:[{"dt":"2020-10-06","會員數":12605,"交易數":140,"有消費的會員數":129,"銷售額":20000,"客單價":65.78,"客單量":1.42},{"dt":"2020-10-07","會員數":12690,"交易數":181,"有消費的會員數":160,"銷售額":59271,"客單價":66.59,"客單量":1.45},{"dt":"2020-10-08","會員數":12756,"交易數":172,"有消費的會員數":152,"銷售額":11054,"客單價":72.72,"客單量":1.54},{"dt":"2020-10-09","會員數":12905,"交易數":304,"有消費的會員數":256,"銷售額":20377,"客單價":79.6,"客單量":1.7},{"dt":"2020-10-10","會員數":12997,"交易數":233,"有消費的會員數":195,"銷售額":15311,"客單價":78.52,"客單量":1.67},{"dt":"2020-10-11","會員數":13086,"交易數":190,"有消費的會員數":168,"銷售額":13355,"客單價":79.49,"客單量":1.74},{"dt":"2020-10-12","會員數":13147,"交易數":135,"有消費的會員數":123,"銷售額":9102,"客單價":74,"客單量":1.53}],
            tableData:[{
                name: '描述',
                value: '折線圖，透過兩個資料源的dt為基準，依照所選擇的meskeys做比較'
            },{
                name: '維度量值',
                value: 'dt'
            },{
                name: 'html',
                value: 'id:必填，元件id，要有唯一性'
            },{
                name: '屬性',
                value: `data1 :[ {dt:"yyyy-mm-dd", 量值:22 },....], 注意，dt為保留字, 一定要放在第一順位
                        data2 :[ {dt:"yyyy-mm-dd", 量值:22 },....], 注意，dt為保留字, 一定要放在第一順位
                        meskeys_type :傳入陣列["bar", "bar", "line"]，代表第一、二個量值是用bar, 第三用line這是預設值，可以改`
            },{
                name: '參考',
                value: 'https://echarts.apache.org/examples/zh/editor.html?c=line-simple'
            },
        ]},

    });

</script>


{% endblock %}



