{% extends "layout_mini_daniel.html" %}
{% block title %}標題 | 首頁 - EagleEye CDP 顧客數據雲{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/style/morris/0.5.1/morris.css" />

<style type="text/css">
  /*修複sparkline tooltips樣式跑版*/
  .jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  .el-range-separator {
    /* 修正”至”樣式錯誤 */
    width: 27px !important;
  }
</style>

{% endblock %}

{% block content %}
<!-- 頁面標題-右側-無功能 start -->
<el-row type="flex" justify="space-between" :gutter="25" class="mb-4">
    <el-col :span="24">
    <div class="grid-content">
        <h1>v-linear-regression.js 使用方式</h1>  
    </div>
    </el-col>
</el-row>
<!-- 頁面標題-右側-無功能 end -->
<!-- 1欄 start -->

<el-row :gutter="25" class="mb-4">
  <el-col :span="24">
        <div class="grid-content">
            <el-card shadow="never" class="box-card wrap-card"  >
<pre>
<h3><font color="#4c769a" font-size="13px">
描述:
    線性迴歸分析圖
維度量值:
    維度1個，量值1個
限制:
    data裏面一定要有dt, dt格式一定'yyyy-mm-dd'
html:
    id:必填，元件id，要有唯一性
屬性:
    data : [{dt:'2020-10-01', 總銷售額:44},....]
參考:
    https://echarts.apache.org/examples/zh/editor.html?c=scatter-linear-regression
依賴:
    https://github.com/ecomfe/echarts-stat/blob/master/dist/ecStat.js
</font></h3>
</pre>
            </el-card>
        </div>
    </el-col>
</el-row>


<el-row :gutter="25" class="mb-4">
    <el-col :span="24">
        <div class="grid-content">
        <el-card shadow="never" class="box-card wrap-card" >
            <h2 class="card__title">Source Code</h2>
            <h3><pre>
                <code class="html">
                &lt;v-linear-regression 
                    id="plot2"
                    :data='datalist'
                    :y_label_format="(val, key) => {
                        if (key=='總銷售額') return '$' + val
                        else return val
                    }"&gt;
                &lt;/v-linear-regression&gt;
            </code>
            </pre></h3>
        </el-card>
        </div>
    </el-col>

</el-row>

 

<el-row :gutter="25" class="mb-4">
    <el-col :span="24">
        <div class="grid-content">
            <el-card shadow="never" class="box-card wrap-card" >
            <h2 class="card__title">Example</h2>
            <v-linear-regression 
                id="plot2"
                :data='datalist'
                :y_label_format="(val, key) => {
                    if (key=='總銷售額') return '$' + val
                    else return val
                }">
            </v-linear-regression>
            </el-card>
        </div>
    </el-col>
</el-row>

<!-- 1欄 end -->

{% endblock %} 

{% block js %}
<script src="/static/style/echarts/4.8.0/echarts.min.js"></script>
<script src="/static/style/lodash/4.16.0/lodash.js"></script>
<script src="/static/js/v-linear-regression.js"></script>
<script src="/static/style/echarts/4.8.0/ecStat.js"></script>



<script>

    var obj = new Vue({
        el: '#app',
        mixins: [layoutVue],
        data:  {
            breadpath: [{key: '首頁', path: '/'},{key: '標題', path: ''}],
            datalist: [{'dt':'2020-10-01', '總銷售額':48624},{'dt':'2020-10-02', '總銷售額':52947},{'dt':'2020-10-03', '總銷售額':59345},{'dt':'2020-10-04', '總銷售額':71710},{'dt':'2020-10-05', '總銷售額':89644},{'dt':'2020-10-06', '總銷售額':102022},{'dt':'2020-10-07', '總銷售額':119625},{'dt':'2020-10-08', '總銷售額':149283},{'dt':'2020-10-09', '總銷售額':169092},{'dt':'2020-10-10', '總銷售額':185479}],
        },
    });

    
</script>


{% endblock %}



